.dockerignore
.env
.git
.github
.gitignore
*/bin
*/obj
docker-compose*
Dockerfile*
LICENSE
README.md
DATABASE_MODEL.mwb
DATABASE_MODEL.mwb.bak

# vscode
!.vscode/launch.json
.vscode/settings.json

# Executable
garnize_on_juice
garnize_on_juice_debug